/*** Pageination ***/

.pageination {
    background: var(--dark);
}

.page-link {
    background-color: #1f1d1d;
    border: 1px solid #0d0d0e;
}

.page-link:hover {
    background-color: #646161;
    border: 1px solid #0d0d0e;
}

.page-link:focus {
    background-color: #646161;
    border: 1px solid #315f70;
}