.product-visualize-info h3 {
    font-size: 1.4rem !important;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/bg-image/footer-bg.jpg) center center no-repeat;
    background-size: cover;
}


/* .service-item {
    display: flex;
}

.product-visualize-info {
    flex: 1;
} */


/* Additional styling if needed */